@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF8F0;
  --foreground: #4A3F5C;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
